doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

    block falkonFetch
        script(src="javascripts/jquery-1.11.3.min.js")
        script(src="javascripts/falkonFetch.js")
  body
    block header
      div(id="header")
        h1=title

    block content